---
import Layout from '../layouts/Layout5.astro';

import { ViewTransitions } from 'astro:transitions';

---
<ViewTransitions />

<Layout title="主催者からの言葉について">
  <main>
     


  </main>
</Layout>
        