---
import Layout from '../layouts/Layout6.astro';

import { ViewTransitions } from 'astro:transitions';

---
<ViewTransitions />

<Layout title="ナチュラルスピリットからの言葉について">
  <main>
     


  </main>
</Layout>