---
import Layout from '../layouts/Layout2.astro';

import { ViewTransitions } from 'astro:transitions';

---

<ViewTransitions />

<Layout title="セミナーについて">
  <main>
     


  </main>
</Layout>
        