---
import Layout from '../layouts/Layout4.astro';

import { ViewTransitions } from 'astro:transitions';

---

<ViewTransitions />

<Layout title="体験記について">
  <main>
     


  </main>
</Layout>
        