




<main class="Layout_Main__dLHqI">
    <div class="Home_Contact__nbvJ6">
    <h1 class="Home_Contact_Title__KdAFZ">お問い合わせ・ご予約について</h1>
    <br><br>
    <p class="Home_Contact_Text__3D77zy">・ご連絡を確認でき次第、返信させて頂きますが、業務繁忙などにより、返信に２日程お時間が掛かる場合がございますので当日のご予約は受け付けておりません。</p>
    <p class="Home_Contact_Text__3D77zy">・DOCOMOケータイをご利用の方。メールフィルターの原因により、こちらからのメールを送信拒否されてしまう為、フィルターをオフにして頂くか、他のメールアドレスからお願い致します。</p>
    <p class="Home_Contact_Text__3D77zy"><span class="stripe-marker"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><path d="M239.35,70.08a13.41,13.41,0,0,0-11.77-9.28l-36.94-2.92L176.43,24.22a13.51,13.51,0,0,0-24.86,0L137.36,57.88,100.42,60.8a13.39,13.39,0,0,0-7.66,23.58l28.06,23.68-8.56,35.39a13.32,13.32,0,0,0,5.1,13.91,13.51,13.51,0,0,0,15,.69L164,139l31.65,19.06a13.54,13.54,0,0,0,15-.69,13.34,13.34,0,0,0,5.09-13.91l-8.56-35.39,28.06-23.68A13.32,13.32,0,0,0,239.35,70.08ZM193.08,99a8,8,0,0,0-2.61,8l8.28,34.21L168.13,122.8a8,8,0,0,0-8.25,0l-30.62,18.43L137.54,107a8,8,0,0,0-2.62-8L108,76.26l35.52-2.81a8,8,0,0,0,6.74-4.87L164,35.91l13.79,32.67a8,8,0,0,0,6.74,4.87l35.53,2.81Zm-105,24.18L29.66,181.66a8,8,0,0,1-11.32-11.32l58.45-58.45a8,8,0,0,1,11.32,11.32Zm10.81,49.87a8,8,0,0,1,0,11.31L45.66,237.66a8,8,0,0,1-11.32-11.32l53.27-53.26A8,8,0,0,1,98.92,173.08Zm73-1a8,8,0,0,1,0,11.32l-54.28,54.28a8,8,0,0,1-11.32-11.32l54.29-54.28A8,8,0,0,1,171.94,172.06Z"></path></svg>2024年をもちまして異次元カウンセリング・対面でのパワーストーン作成を終了させていただくこととなりました。ご利用のお客様には、大変ご迷惑をおかけいたしますが、何卒、ご理解いただきますよう、よろしくお願い申し上げます。</span></p>
 
    <br>
    <h1 class="Home_Contact_Title__KdAFZ">ご予約状況</h1>
    <p class="Home_Contact_Text__3D7zy">予定リストをクリックすると、より見やすく表示されます。</p>

    <div style="position: relative; padding-bottom: 100%; height: 0; overflow: hidden; max-width: 100%; height: auto;">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Asia%2FTokyo&bgcolor=%234285F4&showTitle=0&showPrint=0&showTz=0&src=cmFmYWxlOTQ0QGdtYWlsLmNvbQ&color=%23039BE5" style="border:solid 1px #777; position: absolute; top: 0; left: 0; width: 100%; height: 100%;" frameborder="0" scrolling="no"></iframe>
    </div>
    <br><br><h1 class="Home_Contact_Title__KdAFZ">お問い合わせ</h1>
    <p class="Home_Contact_Text__3D7zy">ご予約に関するお問い合わせは以下のフォームよりお送りください。</p>
    
    <form id="form" method="post" action="https://okna.form.newt.so/v1/K9eg399X3">
        <label class="Home_Contact_Label__hwNpu" for="name">氏名</label>
      <input  class="Home_Contact_InputText__vKPd7"  required="required" name="name"  placeholder="本名をご記入ください" />
      <label  class="Home_Contact_Label__hwNpu"  for="email">メールアドレス</label>
      <input class="Home_Contact_InputText__vKPd7" id="email" type="email" required="required" name="email" placeholder="info@example.com">    

      <label class="Home_Contact_Label__hwNpu" for="phone">電話番号</label>
      <input class="Home_Contact_InputText__vKPd7" id="phone" type="tel" required="required" name="phone" placeholder="090-1234-5678（ハイフン無しでも可）">
      
      <label class="Home_Contact_Label__hwNpu" for="time">ご予約の時間 <br class="sp">(&thinsp;扉開き(&thinsp;90分&thinsp;1万5千円&thinsp;) 又は、セミナーのお申し込みご希望の方&thinsp;)</label>
      <select name="time" class="form-control" >
          <option value="" disabled selected>選択してください</option>
          <option value="13:00-14:30">13:00-14:30(土曜日、日曜日)</option>    
          <option value="14:40-16:10">14:30-16:00(土曜日、日曜日)</option>    
          <option value="15:00-16:20">15:00-16:30</option>    
        </select>

        <label class="Home_Contact_Label__hwNpu" for="other">その他、ご希望の方</label>
        <select name="other" class="form-control" >
            <option value="" disabled selected>選択してください</option>
            <option value="パワーストーン郵送">パワーストーン郵送</option>    
            <option value="見学ご希望の方">セミナーの見学</option> 
   
          </select>

          <input type="hidden" id="recaptchaToken" name="googleReCaptchaToken" />
      <label class="Home_Contact_Label__hwNpu"  for="message">お問い合わせ内容</label>
      <textarea class="Home_Contact_Textarea__iUa5y" id="message" name="message" rows="5" required="required"> </textarea>
      <button type="submit" class="Home_Contact_Button__sfQX_">送信する</button>
    </form>
    <br>
    <p class="recaptcha_policy">This site is protected by reCAPTCHA and the Google<a href="https://policies.google.com/privacy" target="_blank">Privacy Policy</a> and <a href="https://policies.google.com/terms" target="_blank">Terms of Service</a> apply.</p>
    <br class="sp"><br class="sp">  
</div>


  
<script
  is:inline
  src="https://www.google.com/recaptcha/api.js?render=6LeDqkgqAAAAABK7DQ8O72uq27bmLZ1M7jPTiWue&hl=ja"
></script>

<script>
  const form = document.getElementById('form')
  form?.addEventListener('submit', submitFormData)

  function submitFormData(event: Event) {
    event.preventDefault()
    grecaptcha.ready(() => {
      grecaptcha
        .execute('6LeDqkgqAAAAABK7DQ8O72uq27bmLZ1M7jPTiWue', { action: 'submit' })
        .then(async (token) => {
          const target = event.target as typeof event.target & {
            name: { value: string }
            email: { value: string }
            message: { value: string }
          }

          const data = {
            name: target.name.value,
            email: target.email.value,
            message: target.message.value,
            googleReCaptchaToken: token,
          } 

          const formData = new FormData()
          Object.entries(data).forEach(([key, value]) => {
            formData.append(key, value)
          })

          await sendRequest(formData)
        })
    })
  }

  async function sendRequest(formData: FormData) {
    return await fetch('https://okna.form.newt.so/v1/K9eg399X3', {
      method: 'POST',
      body: formData,
      headers: {
        Accept: 'application/json',
      },
    })
  }

  grecaptcha.ready(() => {
  console.log('reCAPTCHA is ready');
  grecaptcha.execute('6LeDqkgqAAAAABK7DQ8O72uq27bmLZ1M7jPTiWue', { action: 'submit' })
    .then(async (token) => {
      console.log('reCAPTCHA token:', token);
      // 以下、トークンの送信処理
    })
});
</script>




 
<style>

.stripe-marker {
  background-image: repeating-linear-gradient(-45deg,
    #eee 0, #eee 2px,
    transparent 2px, transparent 4px
  );
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 0.5em;
}




.btn-4line {
    padding-bottom: 0.1rem;
    color: #353535;
    background: repeating-linear-gradient(45deg, #aAE8F2 0 2px, #fff 2px 4px);
    background-repeat: no-repeat;
    background-size: 100% 0px;
    background-position: bottom;
    text-decoration: none;
    transition: .8s;
      background-size: 100% 5px;
         font-family: 'Klee One', cursive;
           letter-spacing: 0.05em;

}

.btn-4line:hover {
    background-size: 100% 5px;
}






.recaptcha_policy {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    text-align: center;
    font-size: 11px !important;
    color: #444 !important;
}

.grecaptcha-badge { visibility: hidden; }

    
    
    
    
    
    
    
    .kome{
        color: #00896C;
    
    }
    
    
    * {
        padding: 0;
        margin: 0;
    }
    
    
    
    
    
    
    .Home_Contact__nbvJ6 {
        width: 100%;
        max-width: 700px;
        padding: 40px 36px;
        margin-top:50px;
    }
    
    .Home_Contact_Title__KdAFZ {
        margin: 0 0 4px;
        padding: 0;
        text-align: center;
        line-height: 1.5;
        font-size: 1.35rem;
        
    }
    
    
    .Home_Contact_Label__hwNpu {
        display: block;
        font-weight: 700;
        font-size: 1rem;
        margin: 0 0 8px
    }
    
    .Home_Contact_InputText__vKPd7 {
        display: block;
        width: 100%;
        box-sizing: border-box;
        font-size: 0.9rem;
        margin: 0 0 24px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    .Home_Contact_InputText__vKPd7:hover {
        border: 1px solid #aaa
    }
    
    .Home_Contact_Textarea__iUa5y {
        display: block;
        width: 100%;
        box-sizing: border-box;
        font-size: 0.9rem;
        margin: 0 0 24px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical
    }
    
    .Home_Contact_Textarea__iUa5y:hover {
        border: 1px solid #aaa
    }
    
    .Home_Contact_Button__sfQX_ {
        font-size: 1rem;
        margin: 0 auto;
        display: block;
        padding: 10px 20px;
        border-radius: 4px;
        border: none;
        font-weight: 700;
        background: #333;
        color: #fff;
        transition: background .2s;
        cursor: pointer
    }
    
    .Home_Contact_Button__sfQX_:hover {
        background: #000
    }
    
    .Home_Contact_Text__3D7zy {
        font-size: 0.95rem;
        font-family: "Shippori Mincho B1",serif;
    line-height:1.7;    
    letter-spacing: .05em;
        margin: 0 0 48px;
        padding: 0;
        color: #1C1C1C;
        text-align: center;
    }

    .Home_Contact_Text__3D77zy {
        font-size: 0.95rem;
        margin: 0 0 25px;
        padding: 0;
        color: #1C1C1C;
        font-family: "Shippori Mincho B1",serif;
    line-height:1.7;    
    letter-spacing: .05em;
    }
    
    
    .Layout_Main__dLHqI {
        flex: 1 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 1.1rem;
    }
    
    
    
    
    
    
    
    *,:before,:after {
        box-sizing: border-box;
        border-style: solid;
        border-width: 0
    }
    
    html {
          line-height: 1.15;
          -webkit-text-size-adjust: 100%;
          -webkit-tap-highlight-color: transparent
      }
      
      body {
          margin: 0;
          color: #333;
          -moz-osx-font-smoothing: grayscale;
       -webkit-font-smoothing: antialiased;
       text-rendering: optimizeLegibility;
       font-family: 'Shippori Mincho', sans-serif;

      }

   
    
    main {
        display: block
    }
    
    p,table,blockquote,address,pre,iframe,form,figure,dl {
        margin: 0
    }
    
    h1,h2,h3,h4,h5,h6 {
        font-size: inherit;
        font-weight: inherit;
        margin: 0
    }
    
    
    
    
    hr {
        box-sizing: content-box;
        height: 0;
        overflow: visible;
        border-top-width: 1px;
        margin: 0;
        clear: both;
        color: inherit
    }
    
    
    a {
        background-color: transparent;
        text-decoration: none;
        color: inherit
    }
     
            
            select{
                display: block;
                width: 100%;
                box-sizing: border-box;
                font-size: 0.9rem;
                margin: 0 0 24px;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
            
            
       
    
    
            @media print, screen and (max-width: 767px) {
                .container {
                    width: 80%;
    
                }
    
            }
    
    
            
        
            
   
            
            
            
            
            
            
    
    </style>

    