




<main class="Layout_Main__dLHqI">
    <div class="Home_Contact__nbvJ6">
    <h1 class="Home_Contact_Title__KdAFZ">お問い合わせ・ご予約について</h1>
    <br><br>
    <p class="Home_Contact_Text__3D77zy">・ご連絡を確認でき次第、返信させて頂きますが、業務繁忙などにより、返信に２日程お時間が掛かる場合がございますので当日のご予約は受け付けておりません。</p>
    <p class="Home_Contact_Text__3D77zy">・DOCOMOケータイをご利用の方。メールフィルターの原因により、こちらからのメールを送信拒否されてしまう為、フィルターをオフにして頂くか、他のメールアドレスからお願い致します。</p>
    <p class="Home_Contact_Text__3D77zy">・2024年をもちまして異次元カウンセリング・対面でのパワーストーン作成を終了させていただくこととなりました。ご利用のお客様には、大変ご迷惑をおかけいたしますが、何卒、ご理解いただきますよう、よろしくお願い申し上げます。</p>

    <br>
    <h1 class="Home_Contact_Title__KdAFZ">ご予約状況</h1>
    <p class="Home_Contact_Text__3D7zy">予定リストをクリックすると、より見やすく表示されます。</p>

    <div style="position: relative; padding-bottom: 100%; height: 0; overflow: hidden; max-width: 100%; height: auto;">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=Asia%2FTokyo&bgcolor=%234285F4&showTitle=0&showPrint=0&showTz=0&src=cmFmYWxlOTQ0QGdtYWlsLmNvbQ&color=%23039BE5" style="border:solid 1px #777; position: absolute; top: 0; left: 0; width: 100%; height: 100%;" frameborder="0" scrolling="no"></iframe>
    </div>
    <br><br><h1 class="Home_Contact_Title__KdAFZ">お問い合わせ</h1>
    <p class="Home_Contact_Text__3D7zy">ご予約に関するお問い合わせは以下のフォームよりお送りください。</p>
    
        <form method="post" action="https://contact-web.form.newt.so/v1/4oHtkOt1t">
        <label class="Home_Contact_Label__hwNpu" for="name">氏名</label>
      <input  class="Home_Contact_InputText__vKPd7"  required="required" name="name"  placeholder="本名をご記入ください" />
      <label  class="Home_Contact_Label__hwNpu"  for="email">メールアドレス</label>
      <input class="Home_Contact_InputText__vKPd7" id="email" type="email" required="required" name="email" placeholder="info@example.com">    

      <label class="Home_Contact_Label__hwNpu" for="phone">電話番号</label>
      <input class="Home_Contact_InputText__vKPd7" id="phone" type="tel" required="required" name="phone" placeholder="090-1234-5678（ハイフン無しでも可）">
      
      <label class="Home_Contact_Label__hwNpu" for="time">ご予約の時間 (&thinsp;扉開き、ご希望の方&thinsp;)</label>
      <select name="time" class="form-control" >
          <option value="" disabled selected>選択してください</option>
          <option value="13:00-14:30">13:00-14:30(土曜日、日曜日)</option>    
          <option value="14:40-16:10">14:40-16:10(土曜日、日曜日)</option>    
          <option value="16:20-17:50">16:20-17:50(土曜日、日曜日)</option>    
          <option value="15:00-16:20">15:00-16:20</option>    
          <option value="16:30-18:00">16:30-18:00</option>    
        </select>

        <label class="Home_Contact_Label__hwNpu" for="other">その他、ご希望の方</label>
        <select name="other" class="form-control" >
            <option value="" disabled selected>選択してください</option>
            <option value="セミナーお申し込み">セミナーお申し込み</option>    
            <option value="パワーストーン郵送">パワーストーン郵送</option>    
            <option value="見学ご希望の方">見学ご希望の方</option>    
          </select>


      

      <label class="Home_Contact_Label__hwNpu"  for="message">お問い合わせ内容</label>
      <textarea class="Home_Contact_Textarea__iUa5y" id="message" name="message" rows="5" required="required"> </textarea>
      <button type="submit" class="Home_Contact_Button__sfQX_">送信する</button>
    </form>
    <br>
    <p class="recaptcha_policy">This site is protected by reCAPTCHA and the Google<a href="https://policies.google.com/privacy" target="_blank">Privacy Policy</a> and <a href="https://policies.google.com/terms" target="_blank">Terms of Service</a> apply.</p>
    <br class="sp"><br class="sp">  
</div>

  




<style>






.btn-4line {
    padding-bottom: 0.1rem;
    color: #353535;
    background: repeating-linear-gradient(45deg, #aAE8F2 0 2px, #fff 2px 4px);
    background-repeat: no-repeat;
    background-size: 100% 0px;
    background-position: bottom;
    text-decoration: none;
    transition: .8s;
      background-size: 100% 5px;
         font-family: 'Klee One', cursive;
           letter-spacing: 0.05em;

}

.btn-4line:hover {
    background-size: 100% 5px;
}






.recaptcha_policy {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    text-align: center;
    font-size: 11px !important;
    color: #444 !important;
}

.grecaptcha-badge { visibility: hidden; }

    
    
    
    
    
    
    
    .kome{
        color: #00896C;
    
    }
    
    
    * {
        padding: 0;
        margin: 0;
    }
    
    
    
    
    
    
    .Home_Contact__nbvJ6 {
        width: 100%;
        max-width: 700px;
        padding: 40px 36px;
        margin-top:50px;
    }
    
    .Home_Contact_Title__KdAFZ {
        margin: 0 0 4px;
        padding: 0;
        text-align: center;
        line-height: 1.5;
        font-size: 1.35rem;
        
    }
    
    
    .Home_Contact_Label__hwNpu {
        display: block;
        font-weight: 700;
        font-size: 1rem;
        margin: 0 0 8px
    }
    
    .Home_Contact_InputText__vKPd7 {
        display: block;
        width: 100%;
        box-sizing: border-box;
        font-size: 0.9rem;
        margin: 0 0 24px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    .Home_Contact_InputText__vKPd7:hover {
        border: 1px solid #aaa
    }
    
    .Home_Contact_Textarea__iUa5y {
        display: block;
        width: 100%;
        box-sizing: border-box;
        font-size: 0.9rem;
        margin: 0 0 24px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical
    }
    
    .Home_Contact_Textarea__iUa5y:hover {
        border: 1px solid #aaa
    }
    
    .Home_Contact_Button__sfQX_ {
        font-size: 1rem;
        margin: 0 auto;
        display: block;
        padding: 10px 20px;
        border-radius: 4px;
        border: none;
        font-weight: 700;
        background: #333;
        color: #fff;
        transition: background .2s;
        cursor: pointer
    }
    
    .Home_Contact_Button__sfQX_:hover {
        background: #000
    }
    
    .Home_Contact_Text__3D7zy {
        font-size: 0.95rem;
        font-family: "Shippori Mincho B1",serif;
    line-height:1.7;    
    letter-spacing: .05em;
        margin: 0 0 48px;
        padding: 0;
        color: #1C1C1C;
        text-align: center;
    }

    .Home_Contact_Text__3D77zy {
        font-size: 0.95rem;
        margin: 0 0 25px;
        padding: 0;
        color: #1C1C1C;
        font-family: "Shippori Mincho B1",serif;
    line-height:1.7;    
    letter-spacing: .05em;
    }
    
    
    .Layout_Main__dLHqI {
        flex: 1 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 1.1rem;
    }
    
    
    
    
    
    
    
    *,:before,:after {
        box-sizing: border-box;
        border-style: solid;
        border-width: 0
    }
    
    html {
          line-height: 1.15;
          -webkit-text-size-adjust: 100%;
          -webkit-tap-highlight-color: transparent
      }
      
      body {
          margin: 0;
          color: #333;
          -moz-osx-font-smoothing: grayscale;
       -webkit-font-smoothing: antialiased;
       text-rendering: optimizeLegibility;
       font-family: 'Shippori Mincho', sans-serif;

      }

   
    
    main {
        display: block
    }
    
    p,table,blockquote,address,pre,iframe,form,figure,dl {
        margin: 0
    }
    
    h1,h2,h3,h4,h5,h6 {
        font-size: inherit;
        font-weight: inherit;
        margin: 0
    }
    
    
    
    
    hr {
        box-sizing: content-box;
        height: 0;
        overflow: visible;
        border-top-width: 1px;
        margin: 0;
        clear: both;
        color: inherit
    }
    
    
    a {
        background-color: transparent;
        text-decoration: none;
        color: inherit
    }
     
            
            select{
                display: block;
                width: 100%;
                box-sizing: border-box;
                font-size: 0.9rem;
                margin: 0 0 24px;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
            
            
       
    
    
            @media print, screen and (max-width: 767px) {
                .container {
                    width: 80%;
    
                }
    
            }
    
    
            
        
            
   
            
            
            
            
            
            
    
    </style>

    