<div class="footer02">
    <ul class="menu">
    </ul>
    <p class="copyright">
      © 2019.サンクチュアリ. All Rights Reserved.
    </p>
  </div>
  
  <style>  
  
  .footer02 {
    color: #808080;
    background:#1C1C1C;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    
   }
   .footer02 a {
    color: #808080;
    text-decoration: none;
    font-family: 'Shippori Mincho', sans-serif;
    font-size: 0.8rem;
   }
   .footer02 a:hover {
    text-decoration: underline;
   }
   .footer02 .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   }
   .footer02 .menu li {
    margin: 0;
    padding: 0 20px;
   
   }
   .footer02 .copyright {
    margin: 0;
    font-size: 0.8rem;
   }
   
   html,body {
  height: 100%;
}
   
   </style>