

<div class="top-vis-area posi-r">
    <div class="top-visual bg-style">
    <section id="banner">
    <div class="inner">
    
    <h1>SANCTUARY</h1>
    <p>サンクチュアリスピリチュアルセミナー <a href="#down" class="more scrolly"></a>
  
    

    </section>
    </div>
</div>

<section id="down" class="section" data-astro-cid-w3xduq4o="">
    <div class="contentsLayout small" data-astro-cid-scuu7fyy="">
        <h2 class="ti" >プロフィール</h2>
        <div class="contents" data-astro-cid-j7pv25f6="">
            <div class="about__grid" data-astro-cid-j7pv25f6="">
                <div class="about__image" data-astro-cid-j7pv25f6="">
                 <img src="/flow.png" alt="my-icon" class="fit" data-astro-cid-j7pv25f6="" width="280" height="280" loading="lazy" decoding="async"></div>
                 <p class="bun" data-astro-cid-j7pv25f6="">
                    子供の頃から霊が視える体質を持ち、30年以上にわたり様々な霊的現象に向き合ってきました。<br class="pc"><br class="pc"><br class="sp"><br class="sp">現在は、魂の会話による扉開き、サイキック能力の開発、潜在能力開発のセミナーを主宰しています。また、プロフェッショナルの育成スクールも運営しています。                    </p></div>
                    
                    <div class="about__button" data-astro-cid-j7pv25f6="">
                             <a href="/seminar" class="button center" data-astro-cid-vnzlvqnm="">セミナーについて
                                <svg viewBox="0 0 24 24" data-astro-cid-vnzlvqnm="" class="button__icon" astro-icon="majesticons:arrow-up-line">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m12 5 6 6m-6-6-6 6m6-6v14">
                                         </path></svg></a></div>
                    </div></div></section>



                    <article id="content">
                        <section class="split-section left-image">
                            <div class="image-box"></div>
                            <div class="text-box">
                                <h3>スピリットからの言葉</h3>
                                <p class="bun">浄化とは光り始め、光ることに気付くこと＝目覚めである。 そして覆い被さったものを脱ぎ、外していくことだ。</p>
                                <div class="about__button" data-astro-cid-j7pv25f6="">
                                    <a href="https://sshokinawa.com/kotoba" class="button center" data-astro-cid-vnzlvqnm="">続きを読む
                                       <svg viewBox="0 0 24 24" data-astro-cid-vnzlvqnm="" class="button__icon" astro-icon="majesticons:arrow-up-line">
                                           <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m12 5 6 6m-6-6-6 6m6-6v14">
                                                </path></svg></a></div>                            </div>
                        </section>
                        <section class="split-section right-image">
                            <div class="text-box">
                                <h3>主宰者レイからの言葉</h3>
                                <p>人の中には玉のようなものがあり、 それは各個に色を持ち、光輝いています。 その玉が潜在意識と繋がる力となり光を引き寄せ、入り口に導いてくれるのです。</p>
                                <div class="about__button" data-astro-cid-j7pv25f6="">
                                    <a href="/door" class="button center" data-astro-cid-vnzlvqnm="">続きを読む
                                       <svg viewBox="0 0 24 24" data-astro-cid-vnzlvqnm="" class="button__icon" astro-icon="majesticons:arrow-up-line">
                                           <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m12 5 6 6m-6-6-6 6m6-6v14">
                                                </path></svg></a></div>
                            </div>
                            <div class="image-box2"></div>
                        </section>
                    </article>
                    
                
    



      
    <div class="entry-content">
        <dl class="shop-info">
            <h2 class="ti" >店舗情報</h2>
            <dt>住所</dt>
            <dd>沖縄県 宜野湾市大謝名 2丁目10-26<br><br>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d457963.80900074885!2d127.40974705625!3d26.26678250000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34e56d8b5e12370f%3A0xa4147cdb25720cc7!2z44K144Oz44Kv44OB44Ol44Ki44Oq44Kj!5e0!3m2!1sja!2sjp!4v1721902864730!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>            </dd>
            
            <dt>アクセス・駐車場（&thinsp;敷地内に有り 無料&thinsp;）</dt>
            <dd><a href="/navi" class="animate-link">詳細はこちらから<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#000000" viewBox="0 0 256 256"><path d="M128,136v64a8,8,0,0,1-16,0V155.32L45.66,221.66a8,8,0,0,1-11.32-11.32L100.68,144H56a8,8,0,0,1,0-16h64A8,8,0,0,1,128,136ZM208,32H80A16,16,0,0,0,64,48V96a8,8,0,0,0,16,0V48H208V176H160a8,8,0,0,0,0,16h48a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32Z"></path></svg></a></dd>
            <dt>営業時間</dt>
            <dd>火曜日、木曜日(&thinsp;15:00ー21:00&thinsp;)<br class="sp"><br class="sp"> 土曜日、日曜日(&thinsp;13:00ー21:00&thinsp;)</dd>
            <dt>定休日</dt>
            <dd>金曜日、第５日曜日</dd>
            <dt>扉開き、セミナーお申し込みの受付時間</dt>
            <dd>火曜日、木曜日(&thinsp;15:00ー16:30&thinsp;)<br class="sp"><br class="sp"> 土曜日、日曜日(&thinsp;13:00ー16:00&thinsp;)</dd>
            <dt>受講生レッスン受付日(&thinsp;毎週&thinsp;)</dt>
            <dd>火曜日、木曜日(&thinsp;15:00ー18:00&thinsp;)<br class="sp"><br class="sp"> 土曜日、日曜日(&thinsp;13:00ー21:00&thinsp;)</dd>
            <dt>遠隔セミナー(&thinsp;毎週&thinsp;)</dt>
            <dd>月曜日、水曜日(&thinsp;18:00ー21:00&thinsp;)</dd>
            <dt>レイとの個人レッスン Zoomまたは対面<br class="sp">(完全予約制)</dt>
            <dd>火曜日、木曜日(&thinsp;15:00ー18:00&thinsp;)<br class="sp"><br class="sp"> 土曜日、日曜日(&thinsp;13:00ー21:00&thinsp;)</dd>
  
        </dl>
    </div>



<style>

.animate-link {
  text-decoration: none; /* デフォルトの下線を非表示にする */
  color: #003EA2; /* 文字色 */
  background-image: linear-gradient(90deg, #003EA2, #003EA2); /* 線の色 */
  background-repeat: no-repeat;
  background-position: left bottom; /* 線の起点を左・下に設定 */
  background-size: 0 1px; /* 線の横幅を0、縦幅を1pxに */
  transition: background-size 0.6s; /* 線を伸ばすアニメーション実行時間を指定 */
}

.animate-link:hover {
  background-size: 100% 1px; /* 線の横幅を100%にする */
}


.stripe-marker {
  background-image: repeating-linear-gradient(-45deg,
    #eee 0, #eee 2px,
    transparent 2px, transparent 4px
  );
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 0.5em;
}




.bun{
    font-family: "Shippori Mincho B1",serif;
    line-height:1.7;    
    margin-top: 3.125rem;
    transition: .6s 1s;
    font-size: 0.98rem;
    letter-spacing: .05em;
}


.ti{
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    font-family: "Shippori Mincho",sans-serif;

}


@media print, screen and (max-width: 767px) {
 


.button[data-astro-cid-vnzlvqnm] {
padding: 14px 0px 20px;
width: 100%;
}
.about__button[data-astro-cid-j7pv25f6] {
margin-top: 48px;
}
.contents[data-astro-cid-j7pv25f6] {
padding: 0 30px;
}

.bun{
font-family: "Shippori Mincho B1",serif;
line-height: 1.7;
margin-top: 1px;
transition: .6s 1s;
font-size: 1rem;
letter-spacing: .05em;
}
}


:root {
--color-primary: #333;
--color-secondary: #fff;
--color-accent: #cc9900;
--color-background: #f1f2f2;
--color-background-contact: #2b3143;
--color-text: #333;
--color-gray: #888;
--color-canvas: #2b3143;
--content-width-small: 800px;
--content-width-medium: 1200px;
--headerHeight: 100px;
--headerHeight-sp: 80px;
}




img.fit {
width: 100%;
height: auto;
}

img.cover {
width: 100%;
height: 100%;
object-fit: cover;
}




.contents {
margin-top: 40px;
}



.textCenter {
text-align: center;
}



@media print, screen and (max-width: 767px) {
._button_1jidj_146 {
    position:relative;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
    width: clamp(56px,15vw,64px);
    height: clamp(56px,15vw,64px);
    border-radius: 50%;
    background: var(--color-primary);
    color: var(--color-secondary);
}
}

@media screen and (min-width: 768px) {
._button_1jidj_146 {
    display:none;
}
}

._button_1jidj_146[aria-expanded=true] {
color: var(--color-primary);
background: var(--color-secondary)
}

._button_1jidj_146[aria-expanded=true] ._button__icon_1jidj_169:before,._button_1jidj_146[aria-expanded=true] ._button__icon_1jidj_169:after {
background: var(--color-primary)
}

@media print, screen and (max-width: 767px) {
._button__icon_1jidj_169 {
    position:absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

._button__icon_1jidj_169:before,._button__icon_1jidj_169:after {
    position: absolute;
    left: 28%;
    content: "";
    display: inline-block;
    background: var(--color-secondary);
    height: 2px;
    border-radius: 24px;
    
}

._button__icon_1jidj_169:before {
    top: 18px;
    width: 20px;
}

._button__icon_1jidj_169:after {
    top: 26px;
    width: 30px;
}
}

@media print, screen and (max-width: 767px) {
._button__text_1jidj_200 {
    font-size:14px;
}
}

._root_1j163_1 {
display: flex;
gap: 20px;
}

._root_1j163_1 a {
display: block;
width: 20px;
height: 20px;
transition: scale .3s;
}

@media (hover: hover) {
._root_1j163_1 a:where(:any-link,:enabled,summary):hover {
    scale:1.2;
}
}

._root_1j163_1 svg {
width: 100%;
height: 100%;
}


.contentsLayout[data-astro-cid-scuu7fyy] {
margin-inline:auto;
}

@media print, screen and (max-width: 767px) {
.contentsLayout[data-astro-cid-scuu7fyy] {
    padding:0 16px;
}
}



@media screen and (min-width: 768px) {
.small[data-astro-cid-scuu7fyy] {
    max-width:var(--content-width-small);
}
}

@media screen and (min-width: 768px) {
.medium[data-astro-cid-scuu7fyy] {
    max-width:var(--content-width-medium);
}
}

._root_10va8_1 {
font-weight: 700;
line-height: 1.2;
font-family: "Shippori Mincho B1",serif;

}

@media print, screen and (max-width: 767px) {
._root_10va8_1 {
    font-size:2.5rem;
}
}

@media screen and (min-width: 768px) {
._root_10va8_1 {
    font-size:3.8rem;
}
}

._center_10va8_16 {
text-align: center;
}

.link[data-astro-cid-mbqdmgin] {
text-decoration: underline;
}

@media (hover: hover) {
.link[data-astro-cid-mbqdmgin]:where(:any-link,:enabled,summary):hover {
    text-decoration:none;
}
}



@media print, screen and (max-width: 767px) {
.section[data-astro-cid-w3xduq4o] {
    padding:64px 0 0px;
    min-height: 300px;
}
}

@media screen and (min-width: 768px) {
.section[data-astro-cid-w3xduq4o] {
    padding:80px 0 0px;
    min-height: 500px;
}
}




 

        .box[data-astro-cid-wezlmloa] {
            border: 2px solid var(--color-primary);
            background: var(--color-secondary);
            border-radius: 20px;
            font-size: 20px;
            font-weight: 700;
            display: grid;
            place-content: center;
            height: clamp(120px,22.5vw,162px);
        }

        .contents[data-astro-cid-j7pv25f6] {
            margin-top: 40px;
        }

  
        .sceneImage[data-astro-cid-j7pv25f6] {
            overflow: hidden;
            margin-inline:auto;border-radius: 40px;
        }

        @media screen and (max-width: 767px) {
            .sceneImage[data-astro-cid-j7pv25f6] {
                height:50vw;
            }
        }

        .about__grid[data-astro-cid-j7pv25f6] {
            display: grid;
            margin-top: 40px;
        }

        @media screen and (min-width: 768px) {
            .about__grid[data-astro-cid-j7pv25f6] {
                grid-template:auto 1fr/min(20vw,260px) 1fr;
                gap: 0 40px;
            }
        }

        .about__grid[data-astro-cid-j7pv25f6]>p[data-astro-cid-j7pv25f6]:nth-of-type(n+2) {
            margin-top: 24px;
        }

        @media screen and (max-width: 767px) {
            .about__image[data-astro-cid-j7pv25f6] {
                width:min(64.1vw,250px);
                margin: 0 auto 32px;
            }
        }

        @media screen and (min-width: 768px) {
            .about__image[data-astro-cid-j7pv25f6] {
                grid-row:1/3
            }
        }

        @media screen and (max-width: 767px) {
            .about__button[data-astro-cid-j7pv25f6] {
                margin-top:48px;
            }
        }

        @media screen and (min-width: 768px) {
            .about__button[data-astro-cid-j7pv25f6] {
                margin-top:40px;
            }
        }

        .skill__list[data-astro-cid-j7pv25f6] {
            display: grid;
        }

     
   
        .button[data-astro-cid-vnzlvqnm] {
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            color: var(--color-primary);
            background: var(--color-secondary);
            text-align: center;
            border-radius: 40px;
            border: 2px solid var(--color-primary);
            font-weight: 700;
            transition-property: color,background;
            transition-duration: .3s;
            text-decoration: none;
        }

        @media screen and (min-width: 768px) {
            .button[data-astro-cid-vnzlvqnm] {
                padding:10px 24px;
                min-width: 240px;
            }
        }

        @media screen and (max-width: 767px) {
            .button[data-astro-cid-vnzlvqnm] {
                padding: 10px 0px;
                width: 100%;
            }
        }

        @media (hover: hover) {
            .button[data-astro-cid-vnzlvqnm]:where(:any-link,:enabled,summary):hover {
                background:var(--color-primary);
                color: var(--color-secondary);
            }

            .button[data-astro-cid-vnzlvqnm]:where(:any-link,:enabled,summary):hover .button__icon[data-astro-cid-vnzlvqnm] {
                translate: 5px;
            }
        }

        .button__icon[data-astro-cid-vnzlvqnm] {
            width: 24px;
            height: 100%;
            rotate: 90deg;
            flex-shrink: 0;
            transition: translate .3s;
        }

        @media screen and (min-width: 768px) {
            .center[data-astro-cid-vnzlvqnm] {
                margin-inline:auto;
            }
        } 

      
      /* hover animation
      -----------------------------------------------------------------*/
      .topVisual_list_img img,
      .topOnline_list_node img,
      .topIbaraki_list_node img,
      .maintenanceList_node img,
      .patternList_node img,
      .c-ibaraki_list_node img,
      .c-newsList_node img,
      .c-bannerList_node img,
      .c-largeBanner img {
        -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.25, 0.74, 0.22, 0.99);
        transition: -webkit-transform 0.6s cubic-bezier(0.25, 0.74, 0.22, 0.99);
        transition: transform 0.6s cubic-bezier(0.25, 0.74, 0.22, 0.99);
        transition: transform 0.6s cubic-bezier(0.25, 0.74, 0.22, 0.99), -webkit-transform 0.6s cubic-bezier(0.25, 0.74, 0.22, 0.99);
      }
      @media print, screen and (min-width: 1025px) {
        .topVisual_list_img:hover img,
      .topOnline_list_node:hover img,
      .topIbaraki_list_node:hover img,
      .maintenanceList_node:hover img,
      .patternList_node:hover img,
      .c-ibaraki_list_node:hover img,
      .c-newsList_node:hover img,
      .c-bannerList_node:hover img,
      .c-largeBanner:hover img {
          -webkit-transform: scale(1.08);
          transform: scale(1.08);
        }
      }
      




      /*hero */
      
      
      .top-ttl-box {
          opacity: 0;
          display: block;
          position: absolute;
          top: 19.75309%;
          right: 50px;
          text-align: center;
          width: 120px;
      }
      div {
          margin: 0;
          padding: 0;
          border: 0;
          font: inherit;
          font-size: 100%;
          vertical-align: baseline;
      }
      
      .top-visual {
          background-image: linear-gradient(rgba(0, 0, 0, .6),  rgba(0, 0, 0, .5)),url(/top.webp);
          height: 100vh;
          top: 0;
          right: 0;
          -webkit-animation-name: zoomOutAnime;
          animation-name: zoomOutAnime;
          -webkit-animation-duration: 3s;
          animation-duration: 3s;
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
          -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
      }
      
      .bg-style {
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
      }
      


      
            /*clear*/
@media print, screen and (max-width: 767px) {    
    .contact-link {
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
      }
      
      .fs-24-pc {
          font-size: 2.4rem;
      }
      .fs-20 {
          font-size: 2rem;
      }
      .font-serif {
          font-family: "ryo-text-plusn",serif;
      }
      .co-white {
          color: #fff;
      }
      
      .contact-link .contact-hv {
          -webkit-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
      }
      
      .top-visual::before {
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 100vh;
          background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(0,0,0,0)), to(rgba(0,0,0,0.6)));
          background: -webkit-linear-gradient(left, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6));
          background: -o-linear-gradient(left, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6));
          background: linear-gradient(to right, rgba(0,0,0,0) 50%, rgba(0,0,0,0.6));
          top: 0;
          right: 0;
      }
      
      .top-ttl-box {
          top: 18.47291%;
          right: 20px;
      }
      .top-ttl {
          line-height: 2;
      }
      
      
      
      .fs-24-pc {
          font-size:  0.8rem;
      }
      .fs-20 {
          font-size: 0.8rem;
      }
      .font-serif {
          font-family: "ryo-text-plusn",serif;
      }
      .co-white {
          color: #fff;
      }
      
      }
      
   
      
      .top-ttl {
          -webkit-writing-mode: vertical-rl;
          -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
          letter-spacing: 0.6em;
          line-height: 2.5;
          text-align: left;
      }
      
      .fs-24-pc {
          font-size: 1rem;
      }
      .fs-20 {
          font-size: 2.8rem;
      }
      .font-serif {
          font-family: "ryo-text-plusn",serif;
      }
      .co-white {
          color: #fff;
      }
      
      
      
      
      
      
      *{
          scroll-behavior: smooth;
      
      }

      
      
      #banner h1 {
          -moz-transform: scale(1);
          -webkit-transform: scale(1);
          -ms-transform: scale(1);
          transform: scale(1);
          -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
          -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
          -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
          transition: transform 0.5s ease, opacity 0.5s ease;
          display: inline-block;
          font-size: 3rem;
          opacity: 1;
          padding: 0.35em 1em;
          position: relative;
          z-index: 1;
          font-family: 'Shippori Mincho', sans-serif;
      
          
      }
      #banner{
          line-height: 1.75em;
      }
      #banner{
          color: #fff;
          font-weight: 800;
          letter-spacing: 0.225em;
          line-height: 1em;
          margin: 0 0 1em 0;
          text-transform: uppercase;
      }
      #banner{
          margin: 0;
          padding: 0;
          border: 0;
          font-size: 100%;
          font: inherit;
          vertical-align: baseline;
      }
      
      
      #banner {
          display: -moz-flex;
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          -moz-flex-direction: column;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -moz-justify-content: center;
          -webkit-justify-content: center;
          -ms-justify-content: center;
          justify-content: center;
          cursor: default;
          height: 100vh;
          min-height: 35em;
          overflow: hidden;
          position: relative;
          text-align: center;
      }
      
      #banner {
          color: #fff;
          font-family: "Open Sans", Helvetica, sans-serif;
          font-weight: 400;
          letter-spacing: 0.075em;
          line-height: 1.65em;
      }
      
      #banner h1:before {
          top: 0;
          left: 0;
      }
      
      /*線*/
      #banner h1:before, #banner h1:after {
          -moz-transition: width 0.85s ease;
          -webkit-transition: width 0.85s ease;
          -ms-transition: width 0.85s ease;
          transition: width 0.85s ease;
          -moz-transition-delay: 0.25s;
          -webkit-transition-delay: 0.25s;
          -ms-transition-delay: 0.25s;
          transition-delay: 0.25s;
          background: #fff;
          content: '';
          display: block;
          height: 2px;
          position: absolute;
          width: 100%;
      }
      
      #banner h1:after {
          bottom: 0;
          right: 0;
      }
      
      
      
      
      #banner p{
        font-size: 1.2rem;
        font-family: 'Shippori Mincho', sans-serif;
      
      }
      
      
      #banner .more {
          -moz-transition: -moz-transform 0.75s ease, opacity 0.75s ease;
          -webkit-transition: -webkit-transform 0.75s ease, opacity 0.75s ease;
          -ms-transition: -ms-transform 0.75s ease, opacity 0.75s ease;
          transition: transform 0.75s ease, opacity 0.75s ease;
          -moz-transition-delay: 3.5s;
          -webkit-transition-delay: 3.5s;
          -ms-transition-delay: 3.5s;
          transition-delay: 3.5s;
          -moz-transform: translateY(0);
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
          border: none;
          bottom: 0;
          color: inherit;
          font-size: 0.8em;
          height: 8.5em;
          left: 50%;
          letter-spacing: 0.225em;
          margin-left: -8.5em;
          opacity: 1;
          outline: 0;
          padding-left: 0.225em;
          position: absolute;
          text-align: center;
          text-transform: uppercase;
          width: 16em;
          z-index: 1;
              margin-bottom: 100px;
      
       font-family: 'Lora', serif;
      }
      
      #banner {
          margin: 0;
          padding: 0;
          border: 0;
          font-size: 100%;
          font: inherit;
          vertical-align: baseline;
          
      }
      *, *:before, *:after {
          box-sizing: inherit;
      }
      
      #banner {
          display: -moz-flex;
          display: -webkit-flex;
          display: -ms-flex;
          display: flex;
          -moz-flex-direction: column;
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -moz-justify-content: center;
          -webkit-justify-content: center;
          -ms-justify-content: center;
          justify-content: center;
          cursor: default;
          height: 100vh;
          min-height: 35em;
          overflow: hidden;
          position: relative;
          text-align: center;
      }
      
      
      #banner .more:after {
          background-image: url(/arrow.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          bottom: 4em;
          content: '';
          display: block;
          height: 1.5em;
          left: 50%;
          margin: 0 0 0 -0.75em;
          position: absolute;
          width: 1.5em;
         animation: arrowmove 1s ease-in-out infinite;
      
       
      
      }
      
      @keyframes arrowmove{
            0%{bottom:40%;}
            50%{bottom:35%;}
            100%{bottom:40%;}
       }
      
      
      
      #banner .more{
      animation-name: fadeInAnime;/*1で解説*/
      animation-fill-mode:backwards;/*2で解説*/
      animation-duration:3s;/*3で解説*/
      
      animation-timing-function:ease;/*5で解説*/
      animation-delay: 1.5s;/*6で解説*/
      animation-direction:normal;/*7で解説*/
      }
      
      /*1で解説*/
      @keyframes fadeInAnime{
        0% {
          opacity: 0;
        }
      
        100% {
          opacity: 1;
        }
      }
      
      
      
      
      
      
      #banner p{
      animation-name: fadeInAnime;/*1で解説*/
      animation-fill-mode:backwards;/*2で解説*/
      animation-duration:3s;/*3で解説*/
      
      animation-timing-function:ease;/*5で解説*/
      animation-delay: 0.5s;/*6で解説*/
      animation-direction:normal;/*7で解説*/
      }
      
      /*1で解説*/
      @keyframes fadeInAnime{
        0% {
          opacity: 0;
        }
      
        100% {
          opacity: 1;
        }
      }
      
      
      
      
      
      
      
      
      
      
      
      #banner h1{
      animation-name: fadeInAnime;/*1で解説*/
      animation-fill-mode:backwards;/*2で解説*/
      animation-duration:3s;/*3で解説*/
      
      animation-timing-function:ease;/*5で解説*/
      animation-delay: 0.5s;/*6で解説*/
      animation-direction:normal;/*7で解説*/
      margin-block-end: 1rem;
      
      }
      
   
      
            /*clear*/
      @media print, screen and (max-width: 767px) {
        #banner h1{
              font-size: 2.2rem;
        }
      
        #banner p{
        font-size: 1.2rem;
        font-family: 'Shippori Mincho', sans-serif;
      
      }

      
    }
      
      
  
  
         
         
  
         
         
         
         
         .sp {
             display: none !important;
         }
         
         @media screen and (max-width:767px) {
             .pc {
                 display: none !important;
             }
             .sp {
                 display: block !important;
             }
         }
         
         html {
                        line-height: 1.15;
                        -webkit-text-size-adjust: 100%;
                        -webkit-tap-highlight-color: transparent
                    }
                    
                    body {
                        margin: 0;
                        color: #333;
                        -moz-osx-font-smoothing: grayscale;
                     -webkit-font-smoothing: antialiased;
                     text-rendering: optimizeLegibility;
                     font-family: 'Shippori Mincho', sans-serif;
              
                    }



#content {
    width: 90vw;
    margin: 0 auto;
    padding: 50px 0;
}

.split-section {
    display: flex;
    margin: 50px 0;
    min-height: 400px;
}

.image-box {
    width: 40%;
    background: url('/haneN.webp') no-repeat center;
    background-size: cover;
}

.image-box2 {
    width: 40%;
    background: url('/agG.webp') no-repeat center;
    background-size: cover;
}

.text-box {
    width: 60%;
    padding: 2em 4em .1em;
        box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-box h3 {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    font-family: "Shippori Mincho", sans-serif;
}


.text-box p {
    margin-top: 20px;
    font-family: "Shippori Mincho B1",serif;
line-height: 1.7;
margin-top: 30px;
transition: .6s 1s;
font-size: 1rem;
letter-spacing: .05em;

}


@media (max-width: 1000px) {
    .split-section {
        flex-direction: column;
    }

    .image-box, .image-box2, .text-box {
        width: 100%;
    }

    .image-box, .image-box2 {
        height: 250px;
    }

    .text-box,.image-box2 , .image-box {
        padding: 0px 0px;
        padding-bottom: 50px;

    }

    .text-box  {
        padding-top: 50px;
    }
}

@media (max-width: 600px) {
    .text-box h3 {
        font-size: 1.4em;
        letter-spacing: 0.3em;
    }

    .text-box h3 span {
        font-size: 0.5em;
        letter-spacing: 0.2em;
    }

    .text-box p {
        font-family: "Shippori Mincho B1",serif;
line-height: 1.7;
margin-top: 30px;
transition: .6s 1s;
font-size: 1rem;
letter-spacing: .05em;
    }

    .text-box  {
        padding-top: 50px;
    }

}



































.dt.dd {
            font-family: "Shippori Mincho B1", serif;
        line-height: 1.7;
        margin-top: 30px;
        transition: .6s 1s;
        font-size: 1rem;
        letter-spacing: .05em;
}




  .entry-content {
            padding: 20px;
        }

        .shop-info {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
        }

        .shop-info dt {
            font-weight: bold;
            margin-top: 10px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 5px;
        }

        .shop-info dd {
            margin: 10px 0 20px 0;
            padding-bottom: 5px;
        }

        iframe {
            width: 100%;
            height: 450px;
            border: 0;
        }


        @media (max-width: 600px) {

            .entry-content {
                padding: 10px;
            }

            .shop-info {
                padding: 10px;
            }

            iframe {
                height: 300px;
            }

            .sp {
                display: none;
            }
        }


</style>







