            <div class="wrapper">     
                <div class="newsTop_wrapper">
                  <div class="newsTop">
                    <div class="newsTop_info">
                      <div class="newsTop_category">
                           STORY    </div>
                      <time class="newsTop_date">
                            </time>
                    </div> 
                    <h1 class="newsTop_title">
                        ナチュラルスピリットからの言葉</h1>
                    <div class="newsTop_share">
                      <div class="newsTop_shareTitle"><a class="sns" href="" target="blank"></a>
                      </div>
                 
                    </div>
                  </div>
                  <div class="newsVisual">
                    <img src="/hane.webp">
                  </div>
                </div>
                <div class="newsEditor">
                  <p>【&thinsp;浄化とは&thinsp;】<br class="pc"><br class="sp">浄化とは光り始め、光ることに気付くこと＝目覚めである。<br class="pc">そして覆い被さったものを脱ぎ、外していくことだ。<br class="sp"><br class="sp">何も深く考えず、小さな頭で考えることを止め、宇宙・私たちの居る場所から見てみなさい。<br class="sp"><br class="pc"><br class="sp">それが、どれだけちっぽけな事に見えるだろうか私たちは常に見ている、側にいる。だから不安になる事は何もない。分からない事や不安な時は、立ち止まり聞けばよい。それをしないから人間は遠回りするのだ。</p>
                  <p>&nbsp;</p>

                <p><img loading="lazy" src="/zix.webp" alt="" width="720" height="480" class="alignnone size-full wp-image-20004"></p>
                <p>【&thinsp;開花とは&thinsp;】<br class="pc"><br class="sp">魂は光の開花に伴う。使い方を間違えると、どんどん落ちて引っ張られる。<br class="sp"><br class="pc"><br class="sp">常に光・魂・エネルギーを感じ、それを拾い、心のありのままに進みなさい。<br class="sp"><br class="sp">私は、多くの光たちに手を差し伸べる。それなのに上がって来られないのは、人間には身体という入れ物があるからだ。<br class="sp"><br class="sp">元々は光っていても、彼らは光ることを、光ることが出来るという事さえも忘れてしまっている。</p>
                <p>&nbsp;</p>
         
                </div>
                </div>
              </div>

  
      <style>


.ttl_1 {
    font-family: 'Shippori Mincho', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75;
    letter-spacing: .1em;
    margin-top: 80px;
    font-feature-settings: "palt";
    text-align: center;
}

.ttl_1 .line {
    border-bottom: 1px solid;
    padding-bottom: 7px;
}
.c-singlePager {
    position: relative;
    font-size: 20px;
    font-family: 'Shippori Mincho', sans-serif;
    margin: 50px 40px 80px;
    padding: 0 0 10px;
}

.c-singlePager_arrow-prev {
    position: absolute;
    top: 0;
    left: 0;
}

.c-singlePager_arrow-next {
    position: absolute;
    top: 0;
    right: 0;
}


.sp {
    display: none !important;
}

@media screen and (max-width:767px) {
    .pc {
        display: none !important;
    }
    .sp {
        display: block !important;
    }
}




.wrapper{
    margin-bottom: 120px;
}

.newsTop_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
    padding-top: 120px;
    margin: 40px 40px 0;
}
@media print, screen and (max-width: 767px) {
  .ttl_1 {

    font-size: 1.11rem;
  }

  .newsTop_wrapper {
    display: block;
    margin: 0px 20px;
  }
}

.newsTop {
  width: 50%;
  padding: 0 80px;
}
@media print, screen and (max-width: 767px) {
  .newsTop {
    width: auto;
    padding: 0;
  }
}

.newsTop_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Shippori Mincho', sans-serif;
  font-size: 14px;
}
@media print, screen and (max-width: 767px) {
  .newsTop_info {
    font-size: 12px;
  }
}

.newsTop_category {
  margin: 0 20px 0 0;
  font-size: 1rem;
  font-family: 'Shippori Mincho', sans-serif;


}

.newsTop_date {
  color: #838383;
}

.newsTop_title {
  font-size: 24px;
  line-height: 1.5;
  margin: 10px 0 0;
}
@media print, screen and (min-width: 768px) and (max-width: 1024px) {
  .newsTop_title {
    font-size: 1.6rem;
  }
}
@media print, screen and (max-width: 767px) {
  .newsTop_title {
    font-size: 1.6rem;
  }
}

.newsTop_share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 60px 0 0;
}

.newsTop_shareTitle {
    font-family: 'Shippori Mincho', sans-serif;
  margin: 0 20px 0 0;
}



.newsTop_shareList_node {
  margin: 0 5px;
}

.newsVisual {
  width: 50%;
}
.newsVisual img {
  width: 100%;
}


.newsEditor {
  width: 720px;
    margin: 120px auto 0;
}
.newsEditor p {
  line-height: 2;
  font-size: 1rem;
  font-family: 'Shippori Mincho', sans-serif;

}
.newsEditor a {
  color: #003EA2;
}
.newsEditor hr {
  display: block;
  border-bottom: solid 1px #010101;
}
.newsEditor iframe {
  max-width: 100%;
}
.newsEditor img {
  max-width: 100%;
  height: auto;
}
.newsEditor img.aligncenter {
  display: block;
  margin: 0 auto;
}
.newsEditor > p:not([class]) {
  margin-bottom: 20px;
}
.newsEditor .googleMap {
  padding-bottom: 54.32%;
}
.newsEditor .googleMap iframe {
  width: 100%;
}
.newsEditor .youtube {
  position: relative;
  width: 100%;
}
.newsEditor .youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




@media print, screen and (max-width: 767px) {
  .newsTop_share {
    margin: 20px 0 0;
  }
}


@media print, screen and (max-width: 767px) {
  .newsTop_shareTitle {
    margin: 0 10px 0 0;
  }
}


@media print, screen and (max-width: 767px) {
  .newsTop_shareList_node svg {
    width: 23px;
    height: 18px;
  }
}


@media print, screen and (max-width: 767px) {
  .newsVisual {
    width: auto;
    margin: 40px 0 0;
  }
}

@media print, screen and (max-width: 767px) {
  .newsEditor {
    width: auto;
    margin: 60px 20px 0;
    font-size: 1rem;

  }

  .newsEditor[data-astro-cid-ekziid7k] p[data-astro-cid-ekziid7k]{
    font-size: 0.975rem;
    font-family: "Shippori Mincho B1",serif;
    line-height: 2.3076923077;
    letter-spacing: .05em;

  }
}




p{
  font-family: "Shippori Mincho B1",serif;
    line-height: 2.3076923077;
    margin-top: 3.125rem;
    transition: .6s 1s;
    font-size: 1rem;
    letter-spacing: .05em;
}




* {
    padding: 0;
    margin: 0;
}


*,:before,:after {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0
}
html {
          line-height: 1.15;
          -webkit-text-size-adjust: 100%;
          -webkit-tap-highlight-color: transparent
      }
      
      body {
          margin: 0;
          color: #333;
          -moz-osx-font-smoothing: grayscale;
       -webkit-font-smoothing: antialiased;
       text-rendering: optimizeLegibility;
       font-family: 'Shippori Mincho', sans-serif;

      }
      

main {
    display: block
}

p,table,blockquote,address,pre,iframe,form,figure,dl {
    margin: 0
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0
}




hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border-top-width: 1px;
    margin: 0;
    clear: both;
    color: inherit
}


a {
    background-color: transparent;
    text-decoration: none;
    color: inherit
}


</style>