<div class="newsEditor">
    <h1 class="ttl_1"><span class="line">体験と実践のコラボレーション</span></h1>
  <p>レイのプログラムは、体験と実践のコラボレーションです。 チャネリングとセラピー ナチュラルスピリットのセミナーの特長は３つあり、「感じる」「見える」「聞こえる」は１つであるという感覚を体に感じることから始まります。誰にでも実践することができる、決して特殊な能力ではありません。<br class="pc"><br class="pc"><br class="sp"><br class="sp">
    能力の無限の可能性と、“感じる”とはどういうことか分かるでしょう。能力の開花の感覚を忘れている私達に、ナチュラルスピリットは効果を発揮します。 魂は私達に話しかけ、伝えようとしています。少しも人に聞かずに自分で答えが聞こえる、感じる、体に向かって波動として受け取る事が出来るというのは素晴らしい事であり、まさに転ばぬ先の杖です。<br class="pc"><br class="pc"><br class="sp"><br class="sp">
    波動の繋がり方を思い出すチャネリングは体にあります。それは、自身の力となる人間の本質です。心と頭を開放し、思考を中断して心のバランスを保つことで自身の均衡を守る方法を思い出させていく、という波動の繋げ方があります。<br class="sp"><br class="sp">魂との対話の挑戦です。体が重く感じる、霊的現象がある、感が強い、心にコンタクトを感じる、漠然とした使命を感じるなど、どうすれば良いのか分からない、誰かに聞いてみたいと思ったら、一人で考え込まないでください。<br class="pc"><br class="pc"><br class="sp"><br class="sp">
    そんな想いに応えるべく、サンクチュアリ スピリットハウスには、異次元存在の通訳をしているナチュラルスピリット達がいます。 
 </p>
</div>


<div id="sec04_02">
	</div>

<div class="newsEditor">
    <h1 class="ttl_1"><span class="line">潜在能力開発セミナー</span></h1>
  <p>潜在能力開発セミナーとは、「ハイヤーセルフと繋がる体験」コースを受けられた方が更にバージョンアップやスキルアップをする為のコースです。<br class="pc"><br class="pc"><br class="sp"><br class="sp">
    <span class="stripe-marker">「ハイヤーセルフ」とは、簡単に言うともう一人の自分、真の自分のことです。頭と心が開放された最もベストな状態であり、魂レベルの自身とも言えます。</span><br class="pc"><br class="pc"><br class="sp"><br class="sp">
    ハイヤーセルフとリンクすることによって、自分の目的や使命、問題解決の糸口を見つけ、波動や魂を向上させることにも繋がります。ハイヤーセルフと繋がると、一旦心が浄化されたり、色々な潜在能力も開花していくのですが、日常生活を送り続けていくと、どうしても人間関係や、日々の疲れや問題で浄化された心が少しずつ曇っていきます。<br class="pc"><br class="pc"><br class="sp"><br class="sp">
    そうなると、せっかく開花した潜在能力も徐々に失われていってしまいます。そのため、定期的にセミナーを受けて心を浄化させ、メッセージを受け取りやすい状態をキープするようにします。<br class="sp"><br class="sp">潜在能力開発セミナーは、今までのあなたを守ってきたハイヤーセルフに加え、異次元存在のナチュラルスピリット達（あなたにとって必要な指導をする方々）が新たに加わり導きます。<br class="pc"><br class="pc"><br class="sp"><br class="sp">
    そのエネルギーは、豊かで優しく、願いを成就させるパワーがあります。また、サンクチュアリィスピリットハウスには、レイの他に選りすぐりの講師陣がいます。これらの講師陣も通訳に徹します。受講生の波動に添って、受講生に必要な教えやメッセージが講師陣に降ろされていきます。<br class="pc"><br class="pc"><br class="sp"><br class="sp">
    時にはマンツーマンで指導したり、少人数グループで、お互い高め合いながらメッセージを受けたりします。完全に調和されたエネルギーの中で受講生は気付きがあったり、突然チャンネルが開いたりと、毎回が奇跡の連続で、皆の魂は光り輝き始めます。潜在能力開発セミナーは、世界の中でも数少ない最高レベルのセミナーと言えるでしょう。

 </p>
</div>

<div class="newsEditor">
    <h1 class="ttl_1"><span class="line">ハイヤーセルフと繋がるコース</span></h1><center>
  <p>初級コース<br class="pc"><br class="sp">霊的能力の目覚め・実践トレーニング<br class="sp"><br class="sp"><br class="pc"><br class="pc">
    中級コース<br class="pc"><br class="sp">アカシックの読み取り・実践トレーニング<br class="pc"><br class="pc"><br class="sp"><br class="sp">
    上級コース<br class="pc"><br class="sp">初級・中級の総括<br class="sp"><br class="sp"><br class="pc"><br class="pc">（期限３ヶ月以内）初級・中級・上級<br class="sp">【各６万円(税抜き価格)】<br class="pc"><br class="sp">
    <br class="sp"> <br class="pc"><span class="stripe-marker"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><path d="M239.35,70.08a13.41,13.41,0,0,0-11.77-9.28l-36.94-2.92L176.43,24.22a13.51,13.51,0,0,0-24.86,0L137.36,57.88,100.42,60.8a13.39,13.39,0,0,0-7.66,23.58l28.06,23.68-8.56,35.39a13.32,13.32,0,0,0,5.1,13.91,13.51,13.51,0,0,0,15,.69L164,139l31.65,19.06a13.54,13.54,0,0,0,15-.69,13.34,13.34,0,0,0,5.09-13.91l-8.56-35.39,28.06-23.68A13.32,13.32,0,0,0,239.35,70.08ZM193.08,99a8,8,0,0,0-2.61,8l8.28,34.21L168.13,122.8a8,8,0,0,0-8.25,0l-30.62,18.43L137.54,107a8,8,0,0,0-2.62-8L108,76.26l35.52-2.81a8,8,0,0,0,6.74-4.87L164,35.91l13.79,32.67a8,8,0,0,0,6.74,4.87l35.53,2.81Zm-105,24.18L29.66,181.66a8,8,0,0,1-11.32-11.32l58.45-58.45a8,8,0,0,1,11.32,11.32Zm10.81,49.87a8,8,0,0,1,0,11.31L45.66,237.66a8,8,0,0,1-11.32-11.32l53.27-53.26A8,8,0,0,1,98.92,173.08Zm73-1a8,8,0,0,1,0,11.32l-54.28,54.28a8,8,0,0,1-11.32-11.32l54.29-54.28A8,8,0,0,1,171.94,172.06Z"></path></svg>プログラム参加前レイとの扉開きからスタートになります。</span>
 </p></center>
</div>

<div class="space">
    </div>

<section class="introduction astro-HR23OLMI">
    <div class="introduction__container astro-HR23OLMI">
      <div class="introduction__content astro-HR23OLMI is-inview" data-scroll="">
        
      <h2 class="introduction__heading astro-HR23OLMI"><span class="ttl_line">沖縄県本島 在住の方</span></h2>
      <p class="introduction__text astro-HR23OLMI">期間:&thinsp;３ヶ月<br class="sp"><br class="pc">料金:&thinsp;6万円(税抜価格)<br class="pc"><br class="sp">開催日:&thinsp;【毎週】火、木、土、日<br class="sp"> (第５日曜日は休みです) <br class="pc"><br class="sp">開催時間:&thinsp;【火、木】15:00-21:00<br class="sp">【土、日】13:00-21:00<br class="sp"><br class="pc"><br class="pc"><br class="sp"><span class="stripe-marker"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><path d="M239.35,70.08a13.41,13.41,0,0,0-11.77-9.28l-36.94-2.92L176.43,24.22a13.51,13.51,0,0,0-24.86,0L137.36,57.88,100.42,60.8a13.39,13.39,0,0,0-7.66,23.58l28.06,23.68-8.56,35.39a13.32,13.32,0,0,0,5.1,13.91,13.51,13.51,0,0,0,15,.69L164,139l31.65,19.06a13.54,13.54,0,0,0,15-.69,13.34,13.34,0,0,0,5.09-13.91l-8.56-35.39,28.06-23.68A13.32,13.32,0,0,0,239.35,70.08ZM193.08,99a8,8,0,0,0-2.61,8l8.28,34.21L168.13,122.8a8,8,0,0,0-8.25,0l-30.62,18.43L137.54,107a8,8,0,0,0-2.62-8L108,76.26l35.52-2.81a8,8,0,0,0,6.74-4.87L164,35.91l13.79,32.67a8,8,0,0,0,6.74,4.87l35.53,2.81Zm-105,24.18L29.66,181.66a8,8,0,0,1-11.32-11.32l58.45-58.45a8,8,0,0,1,11.32,11.32Zm10.81,49.87a8,8,0,0,1,0,11.31L45.66,237.66a8,8,0,0,1-11.32-11.32l53.27-53.26A8,8,0,0,1,98.92,173.08Zm73-1a8,8,0,0,1,0,11.32l-54.28,54.28a8,8,0,0,1-11.32-11.32l54.29-54.28A8,8,0,0,1,171.94,172.06Z"></path></svg>オンラインのみのお申込みは当面受付はしておりません。お支払い方法等の詳細は、お問い合わせくださいますようお願いいたします。</span>
      </p>
      </div>
      
      <figure class="introduction__map astro-HR23OLMI">
      <img src="/siaia.webp" alt="沖縄在住" class="astro-HR23OLMI">
              <br><center><span style="color: #999999;"></span>  </center>
            </figure>
    </div>
    </section>

    <section class="introduction astro-HR23OLMI">
        <div class="introduction__container astro-HR23OLMI">
          <div class="introduction__content astro-HR23OLMI is-inview" data-scroll="">
          <h2 class="introduction__heading astro-HR23OLMI"><span class="ttl_line">沖縄県外の方</span></h2>
          <p class="introduction__text astro-HR23OLMI">期間:&thinsp;３ヶ月<br class="pc"><br class="sp">料金:&thinsp;5万円(税抜価格)<br class="pc"><br class="sp">開催日:&thinsp;【毎週】月、火、水、木、土、日の週４回まで (第５日曜日は休みです)<br class="sp"><br class="pc">開催時間:&thinsp;【月、水】18:00-21:00<br class="sp">【火、木】15:00-21:00<br class="sp">【土、日】13:00-21:00<br class="sp"><br class="sp"><br class="pc"><br class="pc"><span class="stripe-marker"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000000" viewBox="0 0 256 256"><path d="M239.35,70.08a13.41,13.41,0,0,0-11.77-9.28l-36.94-2.92L176.43,24.22a13.51,13.51,0,0,0-24.86,0L137.36,57.88,100.42,60.8a13.39,13.39,0,0,0-7.66,23.58l28.06,23.68-8.56,35.39a13.32,13.32,0,0,0,5.1,13.91,13.51,13.51,0,0,0,15,.69L164,139l31.65,19.06a13.54,13.54,0,0,0,15-.69,13.34,13.34,0,0,0,5.09-13.91l-8.56-35.39,28.06-23.68A13.32,13.32,0,0,0,239.35,70.08ZM193.08,99a8,8,0,0,0-2.61,8l8.28,34.21L168.13,122.8a8,8,0,0,0-8.25,0l-30.62,18.43L137.54,107a8,8,0,0,0-2.62-8L108,76.26l35.52-2.81a8,8,0,0,0,6.74-4.87L164,35.91l13.79,32.67a8,8,0,0,0,6.74,4.87l35.53,2.81Zm-105,24.18L29.66,181.66a8,8,0,0,1-11.32-11.32l58.45-58.45a8,8,0,0,1,11.32,11.32Zm10.81,49.87a8,8,0,0,1,0,11.31L45.66,237.66a8,8,0,0,1-11.32-11.32l53.27-53.26A8,8,0,0,1,98.92,173.08Zm73-1a8,8,0,0,1,0,11.32l-54.28,54.28a8,8,0,0,1-11.32-11.32l54.29-54.28A8,8,0,0,1,171.94,172.06Z"></path></svg>お支払い方法等の詳細は、お問い合わせくださいますようお願いいたします。</span>
          </p>
          </div>
          
          <figure class="introduction__map astro-HR23OLMI">
          <img src="/cituw.webp" alt="沖縄県外" class="astro-HR23OLMI">
                  <br><center><span style="color: #999999;"></span>  </center>
                </figure>
        </div>
        </section>

        <section class="introduction astro-HR23OLMI">
            <div class="introduction__container astro-HR23OLMI">
              <div class="introduction__content astro-HR23OLMI is-inview" data-scroll="">
              <h2 class="introduction__heading astro-HR23OLMI"><span class="ttl_line">オンライン受講までの流れ</span></h2>
              <p class="introduction__text astro-HR23OLMI">オンライン講座までのおおまかな流れは次のとおりです。<br class="pc"><br class="sp"><br class="sp">1）当サイトにて開催日時をご確認の上、当日開催5分前に、zoom（アプリ、もしくはブラウザ）にアクセスし開始をお待ちください。<br class="pc"><br class="sp"><br class="sp">2）参加をする際に必要なミーティングIDを用意してください。(入会時にIDを配布します。) 画像の参加ボタンに進み、配布されたID、パスワードを入力します。<br class="pc"><br class="pc"><br class="sp"><br class="sp"><a href="https://zoom.us/download" class="animate-link">ビデオ会議ツールのダウンロードリンク(Zoom（ズーム）<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#000000" viewBox="0 0 256 256"><path d="M128,136v64a8,8,0,0,1-16,0V155.32L45.66,221.66a8,8,0,0,1-11.32-11.32L100.68,144H56a8,8,0,0,1,0-16h64A8,8,0,0,1,128,136ZM208,32H80A16,16,0,0,0,64,48V96a8,8,0,0,0,16,0V48H208V176H160a8,8,0,0,0,0,16h48a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32Z"></path></svg></a>

              </p>
              </div>
              
              <figure class="introduction__map astro-HR23OLMI">
              <img src="/discussion-6124030_1280-min-min.webp" alt="オンライン受講の流れ" class="astro-HR23OLMI">
                      <br><center><span style="color: #999999;"></span>  </center>
                    </figure>
            </div>
            </section>



<style>


.stripe-marker {
  background-image: repeating-linear-gradient(-45deg,
    #eee 0, #eee 2px,
    transparent 2px, transparent 4px
  );
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 0.5em;
}

.space{
    margin-top: 50px;
}
.animate-link {
  text-decoration: none; /* デフォルトの下線を非表示にする */
  color: #003EA2; /* 文字色 */
  background-image: linear-gradient(90deg, #003EA2, #003EA2); /* 線の色 */
  background-repeat: no-repeat;
  background-position: left bottom; /* 線の起点を左・下に設定 */
  background-size: 0 1px; /* 線の横幅を0、縦幅を1pxに */
  transition: background-size 0.6s; /* 線を伸ばすアニメーション実行時間を指定 */
}

.animate-link:hover {
  background-size: 100% 1px; /* 線の横幅を100%にする */
}


.stripe-marker {
  background-image: repeating-linear-gradient(-45deg,
    #eee 0, #eee 2px,
    transparent 2px, transparent 4px
  );
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 0.5em;
}


*,:before,:after {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0
    }
    html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
    }
    
    body {
    margin: 0;
    color: #333;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Shippori Mincho', sans-serif;
    
    }






   

#sec04_02 {
    background: url(/sunset-815270_1920.webp) no-repeat 100% 100% fixed;
    background-size: cover;
    -webkit-background-size: cover;
    text-align: center;
    padding: 180px 20px;
    margin-top: 100px;

}

         
       
      
   
   
    
      
    
            @media screen and (min-width: 768px) {
                .center[data-astro-cid-vnzlvqnm] {
                    margin-inline:auto;
                }
            } 
    
          
          *{
              scroll-behavior: smooth;
          
          }
    
    
        .ttl_1 {
            font-family: 'Shippori Mincho', sans-serif;
            font-weight: 400;
            font-size: 22px;
            line-height: 1.75;
            letter-spacing: .1em;
            margin-bottom: 80px;
            font-feature-settings: "palt";
            text-align: center;
        }
        
        .ttl_1 .line {
            border-bottom: 1px solid;
            padding-bottom: 7px;
        }
        
        
    
        
        
        .sp {
        display: none !important;
        }
        
        @media screen and (max-width:767px) {
        .pc {
        display: none !important;
        }
        .sp {
        display: block !important;
        }
        }
        
        
        
        
        .wrapper{
        margin-bottom: 120px;
        }
        
        .newsTop_wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 120px;
        margin: 0px 20px;
        
        }
        @media print, screen and (max-width: 767px) {
        .newsTop_wrapper {
        display: block;
        margin: 0px 20px;
        }
        }
        
        .newsTop {
        width: 50%;
        padding: 0 80px;
        }
        @media print, screen and (max-width: 767px) {
        .newsTop {
        width: auto;
        padding: 0;
        }
        }
        
        .newsTop_info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-family: 'Shippori Mincho', sans-serif;
        font-size: 14px;
        }
        @media print, screen and (max-width: 767px) {
        .newsTop_info {
        font-size: 12px;
        }
            #sec04_02 {
        padding: 120px 20px;
    }
        }
        
        .newsTop_category {
        margin: 0 20px 0 0;
        font-size: 1rem;
        font-family: 'Shippori Mincho', sans-serif;
        
        
        }
        
    
        
        .newsTop_title {
        font-size: 24px;
        line-height: 1.5;
        margin: 10px 0 0;
        }
        @media print, screen and (min-width: 768px) and (max-width: 1024px) {
        .newsTop_title {
        font-size: 1.6rem;
        }
        }
        @media print, screen and (max-width: 767px) {
        .newsTop_title {
        font-size: 1.6rem;
        }
        }
        
    
        .newsVisual {
        width: 50%;
        }
        .newsVisual img {
        width: 100%;
        }
        
        
        .newsEditor {
        width: 720px;
        margin: 120px auto 0;
        }
        .newsEditor p {
        line-height: 2;
        font-size: 1rem;
        font-family: 'Shippori Mincho', sans-serif;
        
        }
    
        .newsEditor hr {
        display: block;
        border-bottom: solid 1px #010101;
        }
        .newsEditor iframe {
        max-width: 100%;
        }
        .newsEditor img {
        max-width: 100%;
        height: auto;
        }
        .newsEditor img.aligncenter {
        display: block;
        margin: 0 auto;
        }
        .newsEditor > p:not([class]) {
        margin-bottom: 20px;
        }
        .newsEditor .googleMap {
        padding-bottom: 54.32%;
        }
        .newsEditor .googleMap iframe {
        width: 100%;
        }
        .newsEditor .youtube {
        position: relative;
        width: 100%;
        }
        .newsEditor .youtube iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }
        
        
        
        
        @media print, screen and (max-width: 767px) {
        .newsTop_share {
        margin: 20px 0 0;
        }
        }
        
        
        @media print, screen and (max-width: 767px) {
        .newsTop_shareTitle {
        margin: 0 10px 0 0;
        }
        
        }
        
        
        @media print, screen and (max-width: 767px) {
        .newsTop_shareList_node svg {
        width: 23px;
        height: 18px;
        }
        }
        
        
        @media print, screen and (max-width: 767px) {
        .newsVisual {
        width: auto;
        margin: 40px 0 0;
        }
        }
        
        @media print, screen and (max-width: 767px) {
        .newsEditor {
        width: auto;
        margin: 100px 20px 0;
        font-size: 1rem;
        margin-bottom: 100px;

        
        }
        
        .newsEditor[data-astro-cid-ekziid7k] p[data-astro-cid-ekziid7k]{
        font-size: 1rem;
        
        font-family: "Shippori Mincho B1",serif;
        line-height: 2.3076923077;
        letter-spacing: .05em;
        
        }
        }
        
        
    
        
        
        
        * {
        padding: 0;
        margin: 0;
        }
        
        *,:before,:after {
        box-sizing: border-box;
        border-style: solid;
        border-width: 0
        }
   
        
        
        main {
        display: block
        }
        
        p,table,blockquote,address,pre,iframe,form,figure,dl {
        margin: 0
        }
        
        h1,h2,h3,h4,h5,h6 {
        font-size: inherit;
        font-weight: inherit;
        margin: 0
        }
        
        
        
        
        hr {
        box-sizing: content-box;
        height: 0;
        overflow: visible;
        border-top-width: 1px;
        margin: 0;
        clear: both;
        color: inherit
        }
        
        
        a {
        background-color: transparent;
        text-decoration: none;
        color: inherit
        }
        
        
        
        
        
        


























    .ttl_line {
    border-bottom: 1px solid;
    padding-bottom: 9px;
    line-height: 2;
    
}







img.fit {
    width: 100%;
    height: auto;
}

img.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.contents {
    margin-top: 40px;
}



.textCenter {
    text-align: center;
}







._root_1j163_1 {
    display: flex;
    gap: 20px;
}

._root_1j163_1 a {
    display: block;
    width: 20px;
    height: 20px;
    transition: scale .3s;
}

@media (hover: hover) {
    ._root_1j163_1 a:where(:any-link,:enabled,summary):hover {
        scale:1.2;
    }
}

._root_1j163_1 svg {
    width: 100%;
    height: 100%;
}


.contentsLayout[data-astro-cid-scuu7fyy] {
    margin-inline:auto}

@media screen and (max-width: 767px) {
    .contentsLayout[data-astro-cid-scuu7fyy] {
        padding:0 16px;
    }
}




.summary{
    line-height: 2.3;
  letter-spacing: 0.1em;
  font-family: 'Shippori Mincho', sans-serif;

}




.section-heading {
    text-align: center;
    font-weight: normal;

  letter-spacing: 0.12em;
    position: relative;
    line-height: 1.5;
    
}


.section-heading::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: #eee;
    position: absolute;
    bottom: 80;
    left: 0;
    right: 0;
    margin: auto;
}

::before, ::after {
    text-decoration: inherit;
    vertical-align: inherit;
}



.summary-box.column h1 {
  margin-top: 100px;
    font-size: 1.95rem;
    line-height: 2.0;

    font-family: 'Shippori Mincho', serif;
}








  .introduction{
       background-color: var(--color-white);
       margin-bottom: -4px;
       padding-bottom: 4px;
       overflow: hidden;
   }
   
   
   
   .introduction__container {
       display: flex;
       align-items: center;
       width: 100%;
       max-width: 85.375rem;
       margin: 0 auto;
   }
   
   .introduction__content {
       padding: 6.125rem 0 6.125rem 9.5168374817%;
       max-width: 48.364568082%;
   }
   
   
   
   
   .introduction__heading {
    font-family: 'Shippori Mincho', sans-serif;
        font-size: 1.25rem;
       line-height: 1.7;
       transition: 2s cubic-bezier(.16,1,.3,1);
       font-style: italic;

   }
   
   
   h1, h2, h3, h4, h5, h6 {
        font-family: 'Shippori Mincho', sans-serif;

       font-size: inherit;
       font-weight: inherit;
       margin: 0;
   }
   
   
   
   .introduction__text{
        font-family: 'Shippori Mincho B1',serif;
       line-height: 2.3076923077;
       margin-top: 3.125rem;
       transition: .6s 1s;
       font-size: 0.9575rem;
       letter-spacing: .05em;


   }
   

   p, table, blockquote, address, pre, iframe, form, figure, dl {
       margin: 0;
   }
   
   *, :before, :after {
       box-sizing: border-box;
       border-style: solid;
       border-width: 0;
   }
   
   .introduction__map{
       display: block;
       flex: 1;
       margin-right: -1.25rem;
       padding-left: 2.5rem;
   }
   
   p, table, blockquote, address, pre, iframe, form, figure, dl {
       margin: 0;
   }
   
 
   

     @media print, screen and (max-width: 767px) {

    .summary-box.column h1 {
    font-size: 1.75rem;


}



    .introduction__map[data-astro-cid-v2cbyr3p]{
    padding-left: 0;
}

    .introduction__container{
    flex-direction: column; /* Stack elements vertically on smaller screens */
    align-items: center;
  }

  .introduction__content {
    padding: 2.5rem 0; /* Adjust padding for spacing */
    text-align: center; /* Center text on smaller screens */
  }

  .introduction__map{
    display: block;
    margin: 0;
    width: 100%; /* Make the image take up 100% of the width */
    padding-left: 0;

  }

  .introduction__text {
    margin-top: 1.25rem; /* Add space between image and text */
    text-align: left; /* Center text */
    font-size: 0.975rem;
    padding-top: 30px;
  }

  .introduction__heading {
    font-size: 1.25rem;
    line-height: 1.7;
  }

  .introduction__content {
       max-width: 80%;
   }
}





.sp {
    display: none !important;
}

@media screen and (max-width:767px) {
    .pc {
        display: none !important;
    }
    .sp {
        display: block !important;
    }
}




  

main {
    display: block
}

p,table,blockquote,address,pre,iframe,form,figure,dl {
    margin: 0
}

h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0
}




hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border-top-width: 1px;
    margin: 0;
    clear: both;
    color: inherit
}


a {
    background-color: transparent;
    text-decoration: none;
    color: inherit
}

img{
    max-width: 100%;
    height: auto;
}

        </style>