<div class="newsEditor">
    <h1 class="ttl_1"><span class="line">レイの体験記</span></h1>
  <p>体験記は、事実に基づいて書かれたものですが、プライバシー保護のため土地の名称や名前など、一部分を変更させて頂いております。<br class="pc"><br class="pc">
    <br class="sp"><br class="sp">【&thinsp;購入後のダウンロードまでの流れ&thinsp;】<br class="pc"><br class="sp">
    ・購入されたデジタルデータは購入後配信されるダウンロードボタンをクリックまたはメールに記載されているURLをクリックすることでダウンロードすることが可能です。<br class="pc"><br class="pc"><br class="sp"><br class="sp">
    <span class="stripe-marker">ダウンロードURLが記載された返信メールが届かない場合、お手数ですがお問い合わせをお願いします。</span></p></div>


    <div class="about__button" data-astro-cid-j7pv25f6="">
    <a href="#ga" class="button center" data-astro-cid-vnzlvqnm="">ショッピングガイド
       <svg viewBox="0 0 24 24" data-astro-cid-vnzlvqnm="" class="button__icon" astro-icon="majesticons:arrow-up-line">
           <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m12 5 6 6m-6-6-6 6m6-6v14">
                </path></svg></a></div>                            </div>

                <section class="product-section">
                    <a href="https://pircamabui.stores.jp/items/6453cc3e860b1f0031bf609d" class="product-item-link">
                    <div class="product-item">
                        <img src="/tamaa.webp" alt="商品1">
                        <h3>題名：自叙</h3>
                        <p>料金:300円</p>
                    </div> </a>

                    <a href="https://pircamabui.stores.jp/items/6453c8ade99ff900b0ed487a" class="product-item-link">
                    <div class="product-item">
                        <img src="/zinnnd-min.webp" alt="商品2">
                        <h3>題名：村</h3>
                        <p>料金:300円</p>
                    </div></a>

                    <a href="https://pircamabui.stores.jp/items/6453c9a0860b1f0031bf5f2d" class="product-item-link">
                    <div class="product-item">
                        <img src="/dooaaaaa-min.webp" alt="商品3">
                        <h3>題名：訪問者</h3>
                        <p>料金:300円</p>
                    </div></a>

                </section>
                  
                <a href="https://pircamabui.stores.jp/items/6453c77be99ff900b0ed47d9" class="product-item-link">
                <section class="product-section">
                    <div class="product-item">
                        <img src="/foooow-min.webp" alt="商品4">
                        <h3>題名：追跡者</h3>
                        <p>料金:300円</p>
                    </div></a>

                    <a href="https://pircamabui.stores.jp/items/6453c6a5860b1f0037bf3dc6" class="product-item-link">
                    <div class="product-item">
                        <img src="/kataannaa-min.webp" alt="商品5">
                        <h3>題名：謎の刀</h3>
                        <p>料金:300円</p>
                    </div></a>

                    <a href="https://pircamabui.stores.jp/items/66b9f0151c3f4f0034e36f10" class="product-item-link">
                    <div class="product-item">
                        <img src="/hituzi.webp" alt="商品6">
                        <h3>題名：山羊</h3>
                        <p>料金:300円</p>
                    </div></a>

                </section>

                <div class="newsEditor">
                <h3 id="ga" class="ttl_b">ショッピングガイド<br><span>HOW TO ORDER</span></h3>

                <p class="b">【&thinsp;お支払い方法について&thinsp;】<br class="pc"><br class="sp">・クレジットカード、コンビニ決算、あと払い（ペイディ）、PayPal、銀行振込、キャリア決算、楽天ペイ、PayPay残高がご利用いただけます。<br class="sp"><br class="pc"><span class="stripe-marker">※銀行振り込み手数料はお客様ご負担となります。</span></p>
                <p>&nbsp;</p>
                <p>【&thinsp;お引渡し時期&thinsp;】<br class="pc"><br class="sp">・購入手続きが完了次第、ご購入頂いたコンテンツがダウンロード可能な状態になります。<br class="sp">購入時に入力したメールアドレス宛に下記のようなメール内容が届きます。ダウンロードボタンを押していただくとPDFデータがダウンロードされます。</p>
                <p><img loading="lazy" src="/dsfdsffff-min.webp" alt="" width="720" height="480" class="alignnone size-full wp-image-20004"></p>
                <p>&nbsp;</p>
                <p>【&thinsp;領収書について&thinsp;】<br class="pc"><br class="sp">・領収書の発行は行っておりません。各決算業者様のご利用明細をご利用ください。</p>
                <p>&nbsp;</p>
                <p>【&thinsp;返品・譲渡について&thinsp;】<br class="pc"><br class="sp">・デジタルコンテンツの特性上、返品が不可能であるため、ご購入確定後のキャンセル・返品についてはお受けできませんので予めご了承ください。<br class="sp"><br class="pc"><span class="stripe-marker">※デジタルコンテンツの譲渡は禁止しております。</span></p>

                </div>





<style>

.stripe-marker {
  background-image: repeating-linear-gradient(-45deg,
    #eee 0, #eee 2px,
    transparent 2px, transparent 4px
  );
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 0.5em;
}

.b{
    margin-top: 50px;
}

.title{
    font-family: "Shippori Mincho B1", serif;
    line-height: 2.3076923077;
    margin-top: 3.125rem;
    transition: .6s 1s;
    font-size: 24px;
    letter-spacing: .05em;
  
}



.ttl_b {
  font-family: "Shippori Mincho B1", serif;
    line-height: 2.3076923077;
    margin-top: 3.125rem;
    transition: .6s 1s;
    font-size: 24px;
    letter-spacing: .05em;
    text-align: center;
}

.ttl_b span {
  font-size: 0.8rem;
    font-family: "Shippori Mincho", sans-serif;
    display: block;
}






.product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 80px;

}

.product-item {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.product-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
    font-family: 'Shippori Mincho', sans-serif;

}

.product-item p {
    font-size: 1em;
    color: #666;
    font-family: 'Shippori Mincho', sans-serif;

}

/* モバイル対応 */
@media (max-width: 768px) {
    .product-section {
        flex-direction: column;
        align-items: center;
    }

    .product-item {
        width: 100%;
        max-width: 300px;
        margin-top: 100px;
    }
}

@media print, screen and (max-width: 767px) {
 


.button[data-astro-cid-vnzlvqnm] {
padding: 14px 0px 20px;
width: 100%;
}
.about__button[data-astro-cid-j7pv25f6] {
margin-top: 48px;
padding: 0 30px;
}
.contents[data-astro-cid-j7pv25f6] {
padding: 0 30px;
}

}


:root {
--color-primary: #333;
--color-secondary: #fff;
--color-accent: #cc9900;
--color-background: #f1f2f2;
--color-background-contact: #2b3143;
--color-text: #333;
--color-gray: #888;
--color-canvas: #2b3143;
--content-width-small: 800px;
--content-width-medium: 1200px;
--headerHeight: 100px;
--headerHeight-sp: 80px;
}


@media print, screen and (max-width: 767px) {
._button_1jidj_146 {
    position:relative;
    z-index: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
    width: clamp(56px,15vw,64px);
    height: clamp(56px,15vw,64px);
    border-radius: 50%;
    background: var(--color-primary);
    color: var(--color-secondary);
}
}

@media screen and (min-width: 768px) {
._button_1jidj_146 {
    display:none;
}
}

._button_1jidj_146[aria-expanded=true] {
color: var(--color-primary);
background: var(--color-secondary)
}

._button_1jidj_146[aria-expanded=true] ._button__icon_1jidj_169:before,._button_1jidj_146[aria-expanded=true] ._button__icon_1jidj_169:after {
background: var(--color-primary)
}

@media print, screen and (max-width: 767px) {
._button__icon_1jidj_169 {
    position:absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

._button__icon_1jidj_169:before,._button__icon_1jidj_169:after {
    position: absolute;
    left: 28%;
    content: "";
    display: inline-block;
    background: var(--color-secondary);
    height: 2px;
    border-radius: 24px;
    
}

._button__icon_1jidj_169:before {
    top: 18px;
    width: 20px;
}

._button__icon_1jidj_169:after {
    top: 26px;
    width: 30px;
}
}

@media print, screen and (max-width: 767px) {
._button__text_1jidj_200 {
    font-size:14px;
}
}


        @media screen and (min-width: 768px) {
            .about__button[data-astro-cid-j7pv25f6] {
                margin-top:40px;
                padding: 0 30px;
            }
        }

    
     
   
        .button[data-astro-cid-vnzlvqnm] {
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            color: var(--color-primary);
            background: var(--color-secondary);
            text-align: center;
            border-radius: 40px;
            border: 2px solid var(--color-primary);
            font-weight: 700;
            transition-property: color,background;
            transition-duration: .3s;
            text-decoration: none;
        }

        @media screen and (min-width: 768px) {
            .button[data-astro-cid-vnzlvqnm] {
                padding:10px 24px;
                min-width: 240px;
            }
        }

        @media screen and (max-width: 767px) {
            .button[data-astro-cid-vnzlvqnm] {
                padding: 10px 0px;
                width: 100%;
            }
        }

        @media (hover: hover) {
            .button[data-astro-cid-vnzlvqnm]:where(:any-link,:enabled,summary):hover {
                background:var(--color-primary);
                color: var(--color-secondary);
            }

            .button[data-astro-cid-vnzlvqnm]:where(:any-link,:enabled,summary):hover .button__icon[data-astro-cid-vnzlvqnm] {
                translate: 5px;
            }
        }

        .button__icon[data-astro-cid-vnzlvqnm] {
            width: 24px;
            height: 100%;
            rotate: 90deg;
            flex-shrink: 0;
            transition: translate .3s;
        }

        @media screen and (min-width: 768px) {
            .center[data-astro-cid-vnzlvqnm] {
                margin-inline:auto;
            }
        } 

      
      *{
          scroll-behavior: smooth;
      
      }


    .ttl_1 {
        font-family: 'Shippori Mincho', sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 1.75;
        letter-spacing: .1em;
        margin-bottom: 80px;
        font-feature-settings: "palt";
        text-align: center;
    }
    
    .ttl_1 .line {
        border-bottom: 1px solid;
        padding-bottom: 7px;
    }
    
    

    
    
    .sp {
    display: none !important;
    }
    
    @media screen and (max-width:767px) {
    .pc {
    display: none !important;
    }
    .sp {
    display: block !important;
    }
    }
    
    
    
    
    .wrapper{
    margin-bottom: 120px;
    }
    
    .newsTop_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 120px;
    margin: 0px 20px;
    
    }
    @media print, screen and (max-width: 767px) {
    .newsTop_wrapper {
    display: block;
    margin: 0px 20px;
    }
    }
    
    .newsTop {
    width: 50%;
    padding: 0 80px;
    }
    @media print, screen and (max-width: 767px) {
    .newsTop {
    width: auto;
    padding: 0;
    }
    }
    
    .newsTop_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Shippori Mincho', sans-serif;
    font-size: 14px;
    }
    @media print, screen and (max-width: 767px) {
    .newsTop_info {
    font-size: 12px;
    }
    }
    
    .newsTop_category {
    margin: 0 20px 0 0;
    font-size: 1rem;
    font-family: 'Shippori Mincho', sans-serif;
    
    
    }
    

    
    .newsTop_title {
    font-size: 24px;
    line-height: 1.5;
    margin: 10px 0 0;
    }
    @media print, screen and (min-width: 768px) and (max-width: 1024px) {
    .newsTop_title {
    font-size: 1.6rem;
    }
    }
    @media print, screen and (max-width: 767px) {
    .newsTop_title {
    font-size: 1.6rem;
    }
    }
    

    .newsVisual {
    width: 50%;
    }
    .newsVisual img {
    width: 100%;
    }
    
    
    .newsEditor {
    width: 720px;
    margin: 120px auto 0;
    }
    .newsEditor p {
    line-height: 2;
    font-size: 1rem;
    font-family: 'Shippori Mincho', sans-serif;
    
    }

    .newsEditor hr {
    display: block;
    border-bottom: solid 1px #010101;
    }
    .newsEditor iframe {
    max-width: 100%;
    }
    .newsEditor img {
    max-width: 100%;
    height: auto;
    }
    .newsEditor img.aligncenter {
    display: block;
    margin: 0 auto;
    }
    .newsEditor > p:not([class]) {
    margin-bottom: 20px;
    }
    .newsEditor .googleMap {
    padding-bottom: 54.32%;
    }
    .newsEditor .googleMap iframe {
    width: 100%;
    }
    .newsEditor .youtube {
    position: relative;
    width: 100%;
    }
    .newsEditor .youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
    
    
    
    
    @media print, screen and (max-width: 767px) {
    .newsTop_share {
    margin: 20px 0 0;
    }
    }
    
    
    @media print, screen and (max-width: 767px) {
    .newsTop_shareTitle {
    margin: 0 10px 0 0;
    }
    }
    
    
    @media print, screen and (max-width: 767px) {
    .newsTop_shareList_node svg {
    width: 23px;
    height: 18px;
    }
    }
    
    
    @media print, screen and (max-width: 767px) {
    .newsVisual {
    width: auto;
    margin: 40px 0 0;
    }
    }
    
    @media print, screen and (max-width: 767px) {
    .newsEditor {
    width: auto;
    margin: 100px 20px 0;
    font-size: 1rem;
    
    }
    
    .newsEditor[data-astro-cid-ekziid7k] p[data-astro-cid-ekziid7k]{
    font-size: 1rem;
    
    font-family: "Shippori Mincho B1",serif;
    line-height: 2.3076923077;
    letter-spacing: .05em;
    
    }
    }
    
    
    
    
    p{
    font-family: "Shippori Mincho B1",serif;
    line-height: 2.3076923077;
    margin-top: 3.125rem;
    transition: .6s 1s;
    font-size: 1rem;
    letter-spacing: .05em;
    }
    
    
    
    
    * {
    padding: 0;
    margin: 0;
    }
    
    *,:before,:after {
    box-sizing: border-box;
    border-style: solid;
    border-width: 0
    }
    html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
    }
    
    body {
    margin: 0;
    color: #333;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Shippori Mincho', sans-serif;
    
    }
    
    
    main {
    display: block
    }
    
    p,table,blockquote,address,pre,iframe,form,figure,dl {
    margin: 0
    }
    
    h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0
    }
    
    
    
    
    hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border-top-width: 1px;
    margin: 0;
    clear: both;
    color: inherit
    }
    
    
    a {
    background-color: transparent;
    text-decoration: none;
    color: inherit
    }
    
    
    
    
    
    
    </style>