---
interface Props {
	title: string;
	description?: string;
	image?: string
}

const { title,description,image } = Astro.props;

import Door from "../components/Door.astro";
import Header from "../components/Header.astro";
import Back from "../components/Back.astro";
import Footer from "../components/Footer.astro";

import '@fontsource/shippori-mincho';


---

<!doctype html>
<html lang="ja">
	<head>

			
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		

		<title></title>
		<meta name="description" content="主催者からの言葉について" />
		<meta name="format-detection" content="telephone=no" />
	
		<link rel="icon" href="/star2.png">
		<link rel="apple-touch-icon" href="/star.png" sizes="180x180">


		<meta property="og:url" content="https://sshokinawa.com/door/">
		<meta property="og:type" content="website">
		<meta property="og:title" content="主催者からの言葉">
		<meta property="og:description" content="【潜在意識】【輝き】についてご紹介しています">
		<meta property="og:image" content="/hikari.webp">

		<title>{title}</title>
	</head>
	
	
    <body>
    
    <Header />
    <Door />
    <Back />
    <Footer />
    
		<slot />
	</body>
</html>