---
interface Props {
	title: string;
	description?: string;
	image?: string
}

const { title,description,image } = Astro.props;

import Home from "../components/Home.astro";
import Header from "../components/Header.astro";
import Back from "../components/Back.astro";
import Footer from "../components/Footer.astro";



import '@fontsource/shippori-mincho';


---

<!doctype html>
<html lang="ja">
	<head>

		 

		<meta name="astro-view-transitions-fallback" content="animate">
	
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="google-site-verification" content="8u6PR-fkkqP85UdDA2ly_66m3luZFebYMBfuZFcidvk" />

		<title>サンクチュアリスピリチュアルセミナー</title>
		<meta name="description" content="沖縄県宜野湾市にある閑静な住宅地でスピリチュアルなセミナーを開催、口コミで好評を得ている魂の会話による扉開き、サイキック能力の開発、潜在能力開発のセミナーを開催しております。" />
		<meta name="format-detection" content="telephone=no" />
	
		<link rel="icon" href="/star2.png">
		<link rel="apple-touch-icon" href="/star.png" sizes="180x180">

		<meta name="thumbnail" content="/hane.webp" />


		<meta property="og:url" content="https://sshokinawa.com/">
		<meta property="og:type" content="website">
		<meta property="og:title" content="サンクチュアリスピリチュアルセミナー">
		<meta property="og:description" content="沖縄県宜野湾市にある閑静な住宅地でスピリチュアルなセミナーを開催、口コミで好評を得ている魂の会話による扉開き、サイキック能力の開発、潜在能力開発のセミナーを開催しております。">
		<meta property="og:image" content="/hane.webp">


		<title>{title}</title>
	</head>
	
	<body>
        <Header />
        <Home />

		<Back />
		<Footer />
		<slot />
	</body>
</html>